@import url('https://fonts.googleapis.com/css?family=Lato');
body{
    background-color: rgb(141, 195, 212);
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 16px;
}

h1{
    font-family: 'Times New Roman', Times, Serif;
}